main {
    color: rgb(199 201 211);
    display:grid;
    grid-template-columns: 2fr 1.5fr;
    width:100%;
    height:67vh;
}

.main-left {
    padding: 10px 0px 70px 90px;
    font-size: 30px;
}

.main-left > .text1 > p > span {
    font-weight:900;
}

.text2 {
    font-size: 25px;
    margin-bottom: 40px;
}


.main-btns > .btn-left {
    font-size: 30px;
    background-color: rgb(71 207 115);
    border: 1px solid rgb(71 207 115);
    border-radius: 4px;
    padding: 10px 20px;
    transition: 0.3s;
}

.btn-left:hover {
    background-color: rgb(82, 83, 87);
    color: black;
    border-color: black;
    box-shadow: 5px 5px 30px rgba(235, 232, 232, 0.4);
}


.main-btns > .btn-right {
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 7px;
    transition: 0.3s;
}

.btn-right:hover {
    background-color: rgb(82, 83, 87);
    color: black;
    border-color: rgb(82, 83, 87);
    box-shadow: 5px 5px 30px rgba(235, 232, 232, 0.4);
}

.main-right {
    margin-top: 25px;
}

.main-right p {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;

}

.main-right p span {
    color: rgb(118 218 255);
}

.main-right img {
    width: 600px;
    height: 348px;
}